name: Ray Eater CI

on: 
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:

    - uses: actions/checkout@v4
    - uses: mlugg/setup-zig@v2
      with: 
        version: 0.14.0
    - name: build
      run: zig build

    - name: test
      run: zig build run-tests

    # TODO: Run unit tests, and optionally samples

